.banner {
  width: calc(100% - 60px);
  height: 25%;

  padding: 15px 30px;

  display: flex;
  justify-content: space-between;

  background: #ffe63d;
}

.info {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.title {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border: 0;
  background: none;
  outline: none;
}

.title::placeholder {
  color: #000;
}

.desc {
  width: 70%;
  height: 100%;

  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: 0;
  background: none;
  outline: none;
  resize: none;
}

.desc::placeholder {
  color: #000;
}

.interaction_section {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.button_with_drop_down {
  display: flex;
  gap: 10px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image_input {
  padding: 5px;

  border: none;
  outline: none;

  &::placeholder {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.button {
  padding: 5px 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border: 0;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.drop_down_icon {
  width: 20px;
  height: 20px;
}

.drop_down_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.drop_down_menu_item {
  padding: 3px 3px;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background: #fff;
  border-bottom: 1px solid #000;

  cursor: pointer;
}

.preview_image {
  width: 240px;
  height: 240px;
}

.empty_box {
  width: 240px;
  height: 240px;

  background: #1e1ca3;
}
