.bar_wrapper {
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 0.5rem;
  height: 5rem;
  background-color: rgb(14, 27, 145);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}

.bar:nth-child(n) {
  animation-delay: calc(100ms * var(--i));
}

.bar_wrapper .bar {
  --i: calc(var(--i) + 1);
}

.bar_wrapper .bar:nth-child(1) {
  --i: 1;
}
.bar_wrapper .bar:nth-child(2) {
  --i: 2;
}
.bar_wrapper .bar:nth-child(3) {
  --i: 3;
}
.bar_wrapper .bar:nth-child(4) {
  --i: 4;
}
.bar_wrapper .bar:nth-child(5) {
  --i: 5;
}
.bar_wrapper .bar:nth-child(6) {
  --i: 6;
}
.bar_wrapper .bar:nth-child(7) {
  --i: 7;
}
.bar_wrapper .bar:nth-child(8) {
  --i: 8;
}
.bar_wrapper .bar:nth-child(9) {
  --i: 9;
}
.bar_wrapper .bar:nth-child(10) {
  --i: 10;
}
.bar_wrapper .bar:nth-child(11) {
  --i: 11;
}
.bar_wrapper .bar:nth-child(12) {
  --i: 12;
}
.bar_wrapper .bar:nth-child(13) {
  --i: 13;
}
.bar_wrapper .bar:nth-child(14) {
  --i: 14;
}
.bar_wrapper .bar:nth-child(15) {
  --i: 15;
}
