.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.nav {
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1rem;
  font-weight: 700;
}
