.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: calc(39vw + 30px);
  font-size: 1rem;
  font-weight: 700;
}
