.category_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.category {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.category_desc {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
  color: #cdcdcd;
}
