.post_item {
  padding: 100px 30px 50px 30px;
  display: flex;
  align-items: flex-end;
  gap: 11vw;
}

.item_summary_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.item_order_num {
  font-size: 0.8rem;
  font-weight: 700;
}

.item_summary {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.item_title {
  font-size: 1.125rem;
  font-weight: 700;
}

.item_desc {
  width: 28vw;
  text-wrap: pretty;
  font-size: 0.875rem;
  font-weight: 400;
}

.item_image_wrapper {
  height: 9vw;
  display: flex;
  gap: 1vw;
}

.item_image {
  height: 100%;
  aspect-ratio: auto;
}
