.post_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.post_item {
  display: flex;
  gap: 15px;

  cursor: pointer;
}

.post_order,
.post_title {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post_title {
  width: 100%;
}

.active {
  font-weight: 600;
}
