.posts {
  display: flex;
  flex: 8.5;
}

@media screen and (max-width: 480px) {
  .posts {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .posts > *:first-child {
    order: 1;
  }

  .posts > *:last-child {
    order: 0;
  }
}
