.preview {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.preview_image {
  width: 350px;
  height: 350px;
  object-fit: contain;
  background: #fff;
}

.preview_desc {
  width: 350px;
  max-height: 185px;
  overflow-y: scroll;
  background: #ffe63d;

  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .preview {
    gap: 10px;
  }

  .preview_image {
    width: 100%;
  }

  .preview_desc {
    width: 100%;
  }
}
