.preview {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 350px;
}

.preview_image {
  object-fit: contain;
  background: #fff;
  width: 100%;
}

.preview_desc {
  overflow-y: scroll;
  background: #ffe63d;
  width: 100%;

  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .preview {
    width: 100%;
    gap: 20px;
  }
}
